body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.links-section {
  text-align: center;
}
  
  h1 {
      font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 3em;
  }
  
  h2 {
    font-weight: bold;
  }


.img-section img {
  height: 300px;
}

.img-section {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}