body {
    font-family: "Inconsolata";
    background-color: blanchedalmond
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-family: 'Montserrat', 'Helvetica', 'sans-serif'
}

.first-name {
    color: black;
}

.last-name {
    font-weight: 600;
    color: plum;
    font-style: italic;
}



h2 {
    text-transform: uppercase;
    color: red;
    font-weight: 600;
}

#music h3 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color:black;
    font-size: 1.5em;
}

#watching h3 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color:plum;
    font-size: 1.5em;
}


.singing {
    display: flex;
    justify-content: center;
}

#music .div-hobby {
    display: flex;
    flex-direction: row;
}


#watching .div-hobby {
    display: flex;
    flex-direction: column;
}


.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}

#watching .article-hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.article-hobby {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.article-hobby a {
    border: 1px solid grey;
    box-shadow: 5px 3px 3px grey;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 1em;
    width: 300px;
    background-color: white;
    font-family:Helvetica, Arial, sans-serif
}


#music img {
    height: 75px;
    width: auto
}


#watching img {
    height: 300px;
}